<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="home()">Home</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item routerLink="/my-entries">My Entries</ion-item>
          <ion-item routerLink="/global-entries">Global Entries</ion-item>
          <ion-item routerLink="/global-entries">Users</ion-item>

          <!-- Aqui estaria todo lo que no son personas, como vhiculos, cuentas, actas, documentos, ligados a un token. -->
          <ion-item routerLink="/global-entries">Digital ID components</ion-item> 
          <ion-item routerLink="/roles">Roles</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Manage Users - My Entries</ion-title>
          <ion-buttons slot="end">
            <ion-button color="danger" (click)="deleteSelected()">Delete Selected</ion-button>
            <ion-button color="success" (click)="addUser()">Add New User</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


      <ion-content>
        <ion-searchbar animated="true" placeholder="Search by specific token"
          (ionInput)="filterUsers($event)"></ion-searchbar>

        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="selectAllChecked"
            (ionChange)="toggleSelectAll($event)"></ion-checkbox>
          <ion-label style="padding-left: 7px;"> Select All</ion-label>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="auto" class="centered"></ion-col>
            <ion-col class="centered"><strong>Name</strong></ion-col>
            <ion-col class="centered"><strong>Father Last name</strong></ion-col>
            <ion-col class="centered"><strong>Email</strong></ion-col>
            <ion-col class="centered"><strong>Token</strong></ion-col>
            <ion-col class="centered"><strong>Role Level</strong></ion-col>
            <ion-col class="centered"><strong>Actions</strong></ion-col>
          </ion-row>

          <ion-row *ngFor="let user of filteredUsers">
            <ion-col size="auto" class="centered">
              <ion-checkbox [(ngModel)]="user.selected"></ion-checkbox>
            </ion-col>
            <ion-col class="centered">{{ user.name }}</ion-col>
            <ion-col class="centered">{{ user.fLastname }}</ion-col>
            <ion-col class="centered">{{ user.email }}</ion-col>
            <ion-col class="centered">{{ user.tokenDigIdentity }}</ion-col>
            <ion-col class="centered">{{ user.rolLevel }}</ion-col>
            <ion-col class="centered">
              <ion-button (click)="startEditUser(user)">Edit</ion-button>
              <ion-button color="danger" (click)="deleteUser(user)">Delete</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Edit User Form
        <div *ngIf="addingUser || editingUser" class="overlay"> -->
          <ion-card *ngIf="editingUser" class="floating-form">
            <ion-card-header>
              <ion-card-title>Edit User</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input [(ngModel)]="editingUser.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input [(ngModel)]="editingUser.email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Token</ion-label>
                <ion-input [(ngModel)]="editingUser.tokenDigIdentity" disabled></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Role</ion-label>
                <ion-input [(ngModel)]="editingUser.rolLevel"></ion-input>
              </ion-item>
              <ion-button expand="block" (click)="saveEdit()">Save</ion-button>
              <ion-buttons slot="end">
                <ion-button color="danger" (click)="cancelEdit()">Cancel</ion-button>
              </ion-buttons>
            </ion-card-content>
          </ion-card>
        <!-- </div> -->

        <!-- Add New User Form -->
        <div *ngIf="addingUser || editingUser" class="overlay">
          <ion-card *ngIf="addingUser" class="floating-form">
            <ion-card-header>
              <ion-card-title>Add New User</ion-card-title>

            </ion-card-header>
            <ion-card-content>
              <form (ngSubmit)="saveNewUser()" #addUserForm="ngForm">
                <ion-item>
                  <ion-label position="stacked">Name</ion-label>
                  <ion-input [(ngModel)]="newUser.name" name="name" required></ion-input>
                  <div *ngIf="addUserForm.submitted && !newUser.name" class="error-message">Name is required.</div>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="email" [(ngModel)]="newUser.email" name="email" required></ion-input>
                  <div *ngIf="addUserForm.submitted && !newUser.email" class="error-message">Email is required.</div>
                  <div *ngIf="addUserForm.submitted && newUser.email && !isValidEmail(newUser.email)"
                    class="error-message">Invalid email format.</div>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Token</ion-label>
                  <ion-input [(ngModel)]="newUser.tokenDigIdentity" name="token" required></ion-input>
                  <div *ngIf="addUserForm.submitted && !newUser.tokenDigIdentity" class="error-message">Token is required.</div>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Role Level</ion-label>
                  <ion-input [(ngModel)]="newUser.rolLevel" name="rol" required></ion-input>
                  <div *ngIf="addUserForm.submitted && !newUser.rolLevel" class="error-message">Role is required.</div>
                </ion-item>
                <ion-button expand="block" type="submit" [disabled]="!addUserForm.form.valid">Add User</ion-button>
                <ion-buttons slot="end">
                  <ion-button color="danger" (click)="cancelAdd()">Cancel</ion-button>
                </ion-buttons>
              </form>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-content>


    </div>
  </ion-split-pane>